apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth-app
  template:
    metadata:
      labels:
        app: auth-app
    spec:
      containers:
      - name: auth-app
        image: qro.ocir.io/ax6svbbnc2oh/auth-service-javabot
        imagePullPolicy: Always
        ports:
        - containerPort: 8081
        envFrom:
        - secretRef:
            name: bot-info
        - secretRef:
            name: jwt-signing-key
      imagePullSecrets:  
      - name: ocirsecret  

---
apiVersion: v1
kind: Service
metadata:
  name: auth-app-service
spec:
  type: ClusterIP
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8081
  selector:
    app: auth-app
